<!DOCTYPE html>
<html lang="en">
<head>
    <title>UVA Be Safe Communicator</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kwp6dli.css">
    <link rel="shortcut icon" href="{{ base_href + url_for('static', filename='favicon.ico') }}">
    {% assets 'app_scss' %}
        <link href="{{ base_href + ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
    <link rel="shortcut icon" href="{{ base_href + url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h2>UVA Be Safe Communicator</h2>
<a href="{{base_href + '/invitation'}}">Send Invitations</a> | <a href="{{base_href + '/imported_files'}}">View imported files</a>

<h3>Records to be processed</h3>
{{ pagination.info }}
{{ pagination.links }}
{{ table }}
{{ pagination.links }}


<form action="{{ action }}" method="post">

    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" %}
        <div class="form-field {{ field.widget.input_type }}">
            <div class="form-field-label">{{ field.label() }}:</div>
            <div class="form-field-input">{{ field }}</div>
            <div class="form-field-help">{{ description_map[field.name] }}</div>
            {% for error in field.errors %}
                <div class="form-field-error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
    <a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>
</form>

</body>
</html>
