{% extends "base_email.html" %}
{% block content %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px; Margin-top: 20px;">
        Dear Student,
    </p>

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        As part of our shared effort to keep each other and the community safe, the University is conducting
        <a href="https://news.virginia.edu/content/uva-expands-methods-student-testing-monitoring-presence-covid-19">
            asymptomatic prevalence testing</a> for all students who are living and learning on Grounds or in the
        Charlottesville/Albemarle area.  People can carry the virus and transmit it even though they feel fine and
        have no symptoms of the disease.  Identifying people who have COVID but are asymptomatic helps to minimize the
        spread of the virus.
    </p>
    <p style="font-family: sans-serif; font-size: 20px; font-weight: bold; margin: 0; Margin-bottom: 15px;">
        You have been selected for a salvia screening on {{date}}.
    </p>

    <p style="font-family: sans-serif; font-size: 16px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        Please read the following information carefully:
    </p>
    <table border="0" cellpadding="0" cellspacing="0" style="margin: 20px;">
        <tbody>
             <tr><td style="font-family: sans-serif; font-size: 16px; vertical-align: top; background-color: #b3c1d3; text-align: left; padding: 20px">
                <ol style="font-family: sans-serif; font-size: 16px; font-weight: normal; margin:0; margin-left: 25px; padding:0;" align="left" >
                    <li style="font-size:22px; line-height:24px; margin-bottom: 10px"><span style="font-size:16px; line-height:24px;">
                        Testing will take place at <b>{{location}}</b>. There are orange signs to direct you to the screening location.
                    </span></li>
                    <li style="font-size:22px; line-height:24px; margin-bottom: 10px"><span style="font-size:16px; line-height:24px;">
                        You should refrain from eating, drinking, brushing your teeth, using mouth wash, chewing gum, or using tobacco
                        for <b>at least one hour</b> before submitting your saliva sample at the screening location.
                    </span></li>
                    <li style="font-size:22px; line-height:24px; margin-bottom: 10px"><span style="font-size:16px; line-height:24px;">
                        You need to bring your university ID card.
                    </span></li>
                    <li style="font-size:22px; line-height:24px; margin-bottom: 10px"><span style="font-size:16px; line-height:24px;">
                        You can come at any time during testing times listed above. The entire screening procedure should take less than 10 minutes.
                    </span></li>
                    <li style="font-size:22px; line-height:24px; margin-bottom: 10px""><span style="font-size:16px; line-height:24px;">
                        Screening is mandatory.  If you are unable to go to the screening times listed above due to an
                        <u>unavoidable conflict</u> (such as class), please email
                        <a href="mailto:prevalence-test@virginia.edu">prevalence-test@virginia.edu</a> to reschedule.
                    </span></li>
                </ol>
             </td>
             </tr>
    </table>

    <ul style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin:0; margin-left: 25px; Margin-bottom: 15px; padding:0;" align="left" type="disc">
        <li style="font-size:22px; line-height:24px;"><span style="font-size:14px; line-height:24px;">
            Outcomes will be available within 24 hours.  You will receive an email (and a text if you have provided a
            cell number in SIS) with a link to follow for negative results.  Students with positive results will be
            contacted by Student Health and Wellness.
        </span></li>
        <li style="font-size:22px; line-height:24px;"><span style="font-size:14px; line-height:24px;">
            Students with positive test results will need to isolate and participate in contact tracing.   If you test
            positive, your name and health status will be disclosed confidentially to the Office of the Dean of
            Students (ODOS). If you live in University housing, ODOS will work with Housing and Residence Life to
            facilitate assignment of isolation housing for you, if/as needed. Regardless of where you live, ODOS will
            also offer you general support and assistance.</span></li>
        <li style="font-size:22px; line-height:24px;"><span style="font-size:14px; line-height:24px;">
            Students with qualifying disability-related conditions may contact the
            <a href="https://studenthealth.virginia.edu/sdac">Student Disability Access Center (SDAC) </a>
             via email (sdac@virginia.edu) or phone (434-243-5180) to seek accommodations related to this testing
            requirement.
        </span></li>
        <li style="font-size:22px; line-height:24px;"><span style="font-size:14px; line-height:24px;">
            If you are feeling unwell or are having COVID-like symptoms, please call Student Health and Wellness at
            434-924-5362.
        </span></li>
    </ul>

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        Important note:  <b>students will not be subject to disciplinary action for a positive test result or for any
        information disclosed as part of contact tracing.</b>  Testing and contact tracing are some of our most effective
        tools against the virus.  Your full participation will help protect you, your friends, and your community.
        Thank you for doing your part.
    </p>

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-top: 15px; Margin-bottom: 15px;">
        Sincerely,
    </p>

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        Mitch Rosner, MD, MACP<br/>
        Henry B. Mulholland Professor of Medicine<br/>
        Chair, Department of Medicine<br/>
        Chief Medical Advisor, UVA COVID-19 Response<br/>
    </p>



{% endblock %}