<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Be SAFE Notification System</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kwp6dli.css">
    <link rel="shortcut icon" href="{{ base_href + url_for('static', filename='favicon.ico') }}">
    {% assets 'app_scss' %}
        <link href="{{ base_href + ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
    <link rel="shortcut icon" href="{{ base_href + url_for('static', filename='favicon.ico') }}">

    {% include 'includes/header.html' %}

  </head>

<body>

  {% include 'includes/sidenav.html' %}

  {{ content | safe }}

  {% include 'includes/scripts.html' %}

</body>

</html>




