<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    
    <title>Be SAFE Notification System</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kwp6dli.css">
    <link rel="shortcut icon" href="{{ base_href + url_for('static', filename='favicon.ico') }}">
    
    {% include 'includes/header.html' %}
    {% include 'includes/scripts.html' %}
  </head>

<body>

  {% include 'includes/sidenav.html' %}
  <div class="main-content">

    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
  
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">UVA Communicator
          Dashboard</a>
      </div>
    </nav>
  
  {{ content | safe }}
  </div>

  <!-- % include 'includes/footer.html' % -->
</body>

</html>




