[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pbr = "*"
coverage = "*"

[packages]
alembic = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
coverage = "*"
docxtpl = "*"
flask = "*"
flask-admin = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-mail = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-wtf = "*"
flask-table = "*"
marshmallow = "*"
marshmallow-enum = "*"
marshmallow-sqlalchemy = "*"
sentry-sdk = {extras = ["flask"],version = "==0.14.4"}
swagger-ui-bundle = "*"
webtest = "*"
python-box = "*"
psycopg2-binary = "*"
google-cloud-firestore = "*"
globus-sdk = "*"
gunicorn = "*"
twilio = "*"
flask-paginate = "*"
flask-assets = "*"
pyscss = "*"

[requires]
python_version = "3.8"
