<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <style type="text/css">
        input {
            width: 500px;
            margin-bottom: 20px;
        }
    </style>
<body>
<a href="{{base_href}}">Home</a>

<h3>Previous Entries</h3>
{{ pagination.info }}
{{ pagination.links }}
{{ table }}
{{ pagination.links }}

<h2>{{ title }}</h2>
<p>{{ details|safe }}</p>
<form action="{{ action }}" method="post">

    {{ form.csrf_token() }}

    {% for field in form if field.name != "csrf_token" %}
        <div class="form-field {{ field.widget.input_type }}">
            <div class="form-field-label">{{ field.label() }}:</div>
            <div class="form-field-input">{{ field }}</div>
            <div class="form-field-help">{{ description_map[field.name] }}</div>
            {% for error in field.errors %}
                <div class="form-field-error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
    <a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>
</form>


</body>
</html>
