
<div class="container-fluid mt--7">
    <div class="row mt-4">
        <div class="col mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">The following files were imported from IVY</h3>{{ pagination.info }}
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <!-- Projects table -->
                    {{ table }}
                </div>
                <div class="row justify-content-center">
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </div>
</div>