
<script>
  var color_idx = 1;
  var colors = {};
  function getColor(key) {
    if (!(key in colors)) {
      const hue = color_idx * 137.508; // use golden angle approximation
      if (color_idx == 15) {
        color_idx = 1;
      } else {
        color_idx += 1;
      }
      colors[key] = `hsl(${Math.floor(hue)},100%,75%)`;
    }
    return colors[key];
  }

  function dict2datasets(data) {
    var datasets = [];
    Object.keys(data).forEach(function (key) {
      datasets.push(
        {
          label: key,
          fill: true,
          borderColor: getColor(key),
          borderSkipped: "bottom",
          borderWidth: 4,
          borderCapStyle: 'butt',
          data: data[key],
        })
    });
    return datasets;
  }

  var stacked_sum_labels = {
    formatter: (value, ctx) => {
      let datasets = ctx.chart.data.datasets;
      if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
        let sum = 0;
        datasets.map(dataset => {
          sum += dataset.data[ctx.dataIndex];
        });
        return sum;
      }
      else {
        return '';
      }
    },
    anchor: 'end',
    align: 'end'
  }
      
  function getToday() {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
    return today
  }

  var per_location = new Chart(document.getElementById('data-chart').getContext('2d'), {
    // The type of chart we want to create
    type: 'bar',
    data: {
      datasets: overall_charts.daily,
      labels: JSON.parse('{{chart_ticks | tojson }}')
    },
    // Configuration options go here
    options: {
      scales: stacked_bar_scale,
      title: {
        display: false,
      },


  });
  per_location.options.plugins.datalabels.color = "white";
  per_location.update();

  function showLocation(loc_code) {
    if (loc_code != "") {
      $('#chart-title').text("Station Activity @ Location " + loc_code);
      per_location.config.data.datasets = location_charts[loc_code];
      per_hour.config.data.datasets = hourly_charts[loc_code];
      per_weekday.config.data.datasets = weekday_charts[loc_code];

      per_location.config.options.legend.onClick = station_legend;
      $('#card_1').text(location_stats_data[loc_code].search);
      $('#card_2').text(location_stats_data[loc_code].one_week_ago);
      $('#card_3').text(location_stats_data[loc_code].two_week_ago);

      $('#location').val(loc_code);
    } else {
      per_location.config.data.datasets = overall_charts.daily;
      per_hour.config.data.datasets = overall_charts.hourly;
      per_weekday.config.data.datasets = overall_charts.weekday;
      per_location.config.options.legend.onClick = location_legend;

      $('#card_1').text(overall_totals_data.search);
      $('#card_2').text(overall_totals_data.one_week_ago);
      $('#card_3').text(overall_totals_data.two_week_ago);

      $('#chart-title').text("Location Activity");
      $('#location').val("");

    }
    per_location.update();
    per_hour.update();
    per_weekday.update();
  }
</script>
