
<div class="container-fluid mt--7">
    <div class="row mt-4">
        <div class="col mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">(Total Inventory - Total Prints) since {{first_deposit | safe}}: {{samples_since | safe}} Labels Remaining</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Inventory Deposits</h3>{{pagination.info}}
                        </div>
                    </div>
                </div>
                
                <div class="justify-content-center">
                    <form action={{url_for('inventory_page')}} method="post">
                        {{ form.csrf_token() }}
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead><tr><th>Date Added</th><th>Amount</th><th>Notes</th></tr></thead>
                                <tbody>

                                <tr>
                                    <td><input type="text" name="date_added"></td>
                                    <td><input type="number" name="amount"></td>
                                    <td><input type="text" name="notes"><button type="submit">Submit</button></td>
                                </tr>
                                {% for x in deposits %}
                                <tr>
                                  <td>{{ x.date_added}}</td>
                                  <td>{{ x.amount }}</td>
                                  <td>{{ x.notes }}</td>
                                </tr>
                               {% endfor %}
                                </tbody>
                                </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
$(function () {
    $('input[name="date_added"]').daterangepicker({
      opens: 'left',
      singleDatePicker: true,
      locale: {
        firstDay: 1   
      }
    });
  });
</script>