.main-content
{
    position: relative;
}
.main-content .navbar-top
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    padding-right: 0 !important; 
    padding-left: 0 !important;

    background-color: transparent;
}
@media (min-width: 768px)
{
    .main-content .container-fluid
    {
        padding-right: 39px !important; 
        padding-left: 39px !important;
    }
}

.table-responsive
{
    display: block;
    overflow-x: auto;

    width: 100%;

    -webkit-overflow-scrolling: touch;
}

.card
{
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem; 
    background-color: #fff;
    background-clip: border-box;
}
.card-body
{
    padding: 1.5rem; 

    flex: 1 1 auto;
}