
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{{url_for('static', filename='/assets/img/brand/favicon.png')}}" rel="icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!--Icons-->
  <!-- <link href="/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
  
<!--CSS-->
  <link type="text/css" href="{{url_for('static', filename='/assets/css/argon.css')}}" rel="stylesheet">

