
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark bg-dark" id="sidenav-main">
    <div class="container-fluid">

      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        <img src="{{url_for('static', filename='assets/img/brand/uva_logo.png')}}" class="navbar-brand-img" alt="Flask Argon Dashboard">
      </a>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="/static/assets/img/brand/uva_logo.png">
              </a>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <em class="ni ni-tv-2 text-primary"></em> Dashboard
            </a>
          </li>
               <li class="nav-item">
            <a class="nav-link" href="/imported_files">
              <em class="ni ni-tv-2 text-primary"></em> Imported Files
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">
              <em class="ni ni-tv-2 text-primary"></em> Manage Inventory
            </a>
          </li>
        </ul>

        
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <!-- <h6 class="navbar-heading text-muted">Support</h6> -->
        <!-- Navigation -->
        <!-- <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sartography/uva-covid19-testing-communicator">
              <em class="ni ni-ui-04"></em> Source Code
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/">
              <em class="ni ni-book-bookmark"></em> App Information
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>

