<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Samples Today</h5>

                  <span id="stats_today" class="h2 font-weight-bold mb-0">.</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <em class="fas fa-chart-bar"></em>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><em class="fa fa-arrow-up"></em> 3.48%</span>
                    <span class="text-nowrap">Since Yesterday</span>
                  </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">1 Week Average</h5>

                  <span id="stats_one_week" class="h2 font-weight-bold mb-0">.</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <em class="fas fa-chart-pie"></em>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><em class="fas fa-arrow-down"></em> 3.48%</span>
                    <span class="text-nowrap">Since last week</span>
                  </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">2 Week Average
                  </h5>

                  <span id="stats_two_weeks" class="h2 font-weight-bold mb-0">.</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <em class="fas fa-users"></em>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><em class="fas fa-arrow-down"></em> N/A%</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>

                  <span id="stats_avg" class="h2 font-weight-bold mb-0">.</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <em class="fas fa-percent"></em>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><em class="fas fa-arrow-up"></em> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>