<div class="header bg-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      {% if dates %}
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within {{dates.search | safe }}</h5>
                  <span id="stats_today" class="h2 font-weight-bold mb-0">{{overall_totals_data.search| safe }}</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <em class="fas fa-chart-bar"></em>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">(1 Week Back) {{dates.one_week_ago| safe }}</h5>

                  <span id="stats_one_week" class="h2 font-weight-bold mb-0">{{overall_totals_data.one_week_ago| safe }}</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <em class="fas fa-chart-pie"></em>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">(2 Weeks Back) {{dates.two_weeks_ago| safe }}
                  </h5>

                  <span id="stats_two_weeks" class="h2 font-weight-bold mb-0">{{overall_totals_data.two_week_ago| safe }}</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <em class="fas fa-users"></em>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>