<div class = "row">
<div class="col">
    <div class = "card m-2">
        <div class="card-header">
            Blah
        </div>
        Its 
    </div>
</div>
<div class="col">
    <div class = "card m-2">
        <div class="card-header">
            Blah
        </div>
        a work
    </div>
</div>
<div class="col">
    <div class = "card m-2">
        <div class="card-header">
            Blah
        </div>
        in
    </div>
</div>
<div class="col">
    <div class = "card m-2">
        <div class="card-header">
            Blah
        </div>
        progress
    </div>
</div>
</div>