<div class = "row mb-4">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats  mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within </h5>
                <span id="card_1" class="h2 font-weight-bold">Its</span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats  mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within </h5>
                <span id="card_1" class="h2 font-weight-bold mb-0">Coming</span>

              </div>
            </div>
          </div>
        </div>
      </div>    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats  mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within </h5>
                <span id="card_1" class="h2 font-weight-bold mb-0">Along</span>

              </div>
            </div>
          </div>
        </div>
      </div>    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats  mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within </h5>
                <span id="card_1" class="h2 font-weight-bold mb-0">Nicely</span>

              </div>
            </div>
          </div>
        </div>
      </div>
</div>