<div class="container-fluid mt--7">
  <div class="row mb-4">
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats  mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within<br> {{form.start_date | date}} -
                {{form.end_date | date}}</h5>
              <span id="card_1" class="h2 font-weight-bold">{{searchResult?.length}}</span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats  mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within <br> {{form.start_date | date}} -
                {{form.end_date | date}}</h5>
              <span id="card_1" class="h2 font-weight-bold mb-0">Coming</span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats  mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total Samples within <br> {{form.start_date | date}} -
                {{form.end_date | date}}</h5>
              <span id="card_1" class="h2 font-weight-bold mb-0">Along</span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats  mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total Notifications within <br> {{form.start_date |
                date}} - {{form.end_date | date}}</h5>
              <span id="card_1" class="h2 font-weight-bold mb-0">Nicely</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-3 ">{{ChartName}}</h3>
        </div>
        <div style="display: block">
          <canvas baseChart [datasets]="dailyChartsData" [labels]="dailyChartLabels" [options]="barChartOptions"
            [legend]="true" chartType="bar" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col mb-3">
      <div class="card ">
        <div class="card-header">

          <div class=row>
            <h3 class="mb-3 col ">Search</h3>
            <button (click)="updateGraphData()" class="btn btn-sm btn-primary col mr-3">Today</button>
            <button (click)="updateGraphData()" class="btn btn-sm btn-primary col mr-3">All 10/05/2020</button>
            <button (click)="updateGraphData()" class="btn btn-sm btn-primary col ">Run</button>
          </div>

        </div>

        <div class="col">
          <div class="form-group row">
            <label for="range" class="col mt-3 mr-3">Search Range</label>
            <mat-form-field>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="start_date">
                <input matEndDate [(ngModel)]="end_date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <div class="form-group row ">

            <label for="location" class="col mt-3 mr-3">Location ID(s)</label>

            <textarea class="form-control col mr-3 mt-3" id="location" [(ngModel)]="form.location" rows="2"></textarea>

          </div>
          <div class="form-group row ">

            <label for="student" class="col mt-3 mr-3">Student ID(s)</label>

            <textarea class="form-control col mr-3 mt-3" id="student" [(ngModel)]="form.student_id" rows="2"></textarea>

          </div>
          <div class="form-group row ">

            <label for="compute" class="col mt-3 mr-3">Compute ID(s)</label>

            <textarea class="form-control col mr-3 mt-3" id="compute" [(ngModel)]="form.compute_id" rows="2"></textarea>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col mb-3 ">
      <div class="card ">
        <div class="card-header">
          <h3 class="mb-3 ">Average Count By Weekday For {{form.start_date | date}} - {{form.end_date | date}}</h3>
        </div>
        <div style="display: block">
          <canvas baseChart [datasets]="weekdayChartsData" [labels]="weekdayChartLabels" [options]="barChartOptions"
            [legend]=false chartType="horizontalBar">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col mb-3">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-3">Average Count By Hour For {{form.start_date | date}} - {{form.end_date | date}}</h3>
        </div>
        <div style="display: block">
          <canvas baseChart [datasets]="hourlyChartsData" [labels]="hourlyChartLabels" [options]="barChartOptions"
            [legend]=false chartType="horizontalBar">
          </canvas>
        </div>

      </div>
    </div>
  </div>

  <div class="card row">
    <div class="card-header">
      <h3 class="mb-0">Records to be processed </h3>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead>
          <tr>
            <th>Barcode </th>
            <th>Date</th>
            <th>Location</th>
            <th>Contacts</th>
            <th>IDs</th>
            <!-- <th>Notifications</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sample of searchResult">
            <td>{{sample.barcode}}</td>
            <td>{{sample.date| date :"medium"}}</td>
            <td>Location: {{sample.location}}<br>Station: {{sample.station}}</td>
            <td>Compute ID: {{sample.compute_id}}<br>Student ID: {{sample.student_id}}</td>
            <td>Phone: {{sample.phone}}<br>Email: {{sample.email}}</td>
            <!-- <td>Phone: {{sample.phone}}<br>Email: {{sample.email}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>